html{
    background-color: white;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header{
  display: flex;
  padding: 2% 5% 1px;  
  width: 90%;
  
}
#ImaHeader{
  display: flex;
  width: 140px;
  height: 140px;
}
nav ul{
  display: flex;
  width: 90%;
  padding-top: 40px;
  justify-content: space-between;
  text-decoration: none;
}
#Color_Letter{
  color: black;
  font-size: larger;
  margin-right: 20px;
}
#Color_Letter2{
  color: black;
    font-size: larger;
    margin-right: 20px;

}
#Color_Letter3{
  color: black;
  font-size: larger;
  margin-right: 20px;

}
#Color_Letter4{
  color: black;
  font-size: larger;
  margin-right: 20px;

}
.Header_World_Language{
  display: flex;
  width: 18px;
  height: 18px;
  padding-right:180px ;
  padding-top: 40px;
  color: #454868;
}
.Header_World{
  width: 20px;
  height: 20px;
  padding-right: 14px;
}
.Nav_Header_Button{
  display: flex;
  padding-top: 40px;
 padding-right: px;
}
#Nav_Header_Button{
  border-radius: 8px;
  width: 150px;
  height: 40px;
  background-color: #9cde0fbb;
  color: black;
  border-color:rgba(0, 0, 0, 0);
  
}
#Nav_Header_Button1{
  font-size: larger;
}
#Nav_Header_Button:hover{
  background-color: #ED80FD;

}
.Header_Navigator{
  display: flex;
  width: 1240px;
}
.Language{
  display: flex;
  width: 360px;
  padding-top: 15px;
  justify-content: space-around;
}
.Lang_Espan{
  margin-right: 100px;
  padding-left:1px ;
  font-size: larger;
}
img{
    border-radius: 18px;

}
h1 {
    text-shadow: 2px 2px 5px rgb(75, 74, 74);
  }
.Baner_T1{
font-family: "Jost";
font-size: 55px;
color:aliceblue;
width: 550px;
padding-left: 100px;
line-height: 105px;
padding-top: 10px;
}
#Banner_T2{
  padding-left: 100px;
  font-family: "Jost";
  font-size: 16px;
  color:aliceblue;
  width: 540px;
  line-height: 28px;

}
h2 {
    text-shadow: 2px 2px 5px rgb(75, 74, 74);
  }
button{
    box-shadow: 2px 2px 5px rgb(75, 74, 74);
    cursor:pointer;
    border-color:rgba(0, 0, 0, 0);
  }
button:hover{
    background-color: #ED80FD;
  }
li{
    list-style-type: none;
  }
#Banner{
    display: flex;
    margin: 5% 5% 1px;
    border-radius: 35px;
    border-bottom-right-radius: 290px;
    margin-top: 30px;
    background: linear-gradient(#5961F9, #ED80FD);
    padding-bottom: 100px;
    width: 90%;


  }
.Img_Banner__1{
    padding-bottom: 0px;
    padding-top: 70px;
    padding-left: 65px;
    width: 650px;
    height: 440px;


  }
.Banner__Buttons{
     display: flex;
    padding-left: 100px;
    margin-top: 0px;
    text-shadow: 2px 2px 5px rgb(75, 74, 74);
  }
.BS1_Saber_Más{
  border-radius: 8px;
  width: 100px;
  height: 40px;
  margin-right: 35px;
  background-color: #FD909E;
}
.BS1_Planes{
  border-radius: 8px;
  width: 100px;
  height: 40px;
  background-color: #cfcfcf00;
  border-color: rgba(255, 255, 255, 0.614);
}
#section-1{
  display: flex;
  margin-bottom: 40px;
  padding: 0% 5% 1px;
  width: 400px;
}
.Section-1__Info1{
  color: #010851;
  line-height: 50px;
  font-size: 35px;
  line-height: 70px;
  width: 380px;
}
.Section-1__Info2{
  color: black;
  margin-top: 10px;
  line-height: 18px;
  font-family: "Jost";
  font-size: 20px;
  padding-right: 90px;
}
.Mast_Info{
  display: block;
  margin-top: 40px;
  padding-left: 105px;
  width: 300px;
  line-height: 10px;
  width: 90%;
}
.Card1{
padding-top: 10px;
}
.Card3{
  padding-top: 10px;
  }
.Section-1__Card1{
  display: block;
  margin-top: 90px;
  width: 360px;
  height: 300px;
  color: black;
  background-color: #cfcfcf00;
  box-shadow:2px 2px 7px rgb(75, 74, 74) ;
  padding: 10px;
  text-align: center;
  align-items: center;
  margin-right: 70px;
    margin-left: 50px;

  border-radius: 25px;
  font-size: 22px;
}
.Section-1__Card2{
  display: block;
  margin-top: 160px;
  width: 360px;
  height: 300px;
  color: black;
  background-color: #cfcfcf00;
  box-shadow:2px 2px 7px rgb(75, 74, 74) ;
  padding: 10px;
  text-align: center;
  align-items: center;
  margin-right: 70px;
  border-radius: 25px;
  font-size: 22px;
}
.Section-1__Card3{
  display: block;
  margin-top: 80px;
  width: 360px;
  height: 300px;
  color: black;
  background-color: #cfcfcf00;
  box-shadow:2px 2px 7px rgb(75, 74, 74) ;
  padding: 10px;
  text-align: center;
  align-items: center;
  margin-right: 70px;
  border-radius: 25px;
  font-size: 22px;
}
h3{
  margin:3px;
 
}
.Alcance{
  padding-top: 20px;
}
#section-2{
  display: inherit;
  background-color: #ec80fd43;
  margin: 0px;
  padding-bottom: 100px;
  padding-top: 20px;
 
}
.section-2__Info1{
  display: flex;
  padding-top: 50px;
  padding-left: 100px;
}
.Text_section-2__Info1{
  display: block;
  width: 500px;
  padding-top: 25px;
  margin-left: 90px;
}
.Text_section-2__Info1_1{
    color: #010851;
    font-family: "Jost";
    font-size: 47px;
    margin-bottom: 8px;
    line-height: 70px;
    width: 590px;
}
.Text1_Somos{
  width: 340px;
  color: black;
  margin-top: 10px;
  line-height: 18px;
  font-family: "Jost";
  font-size: 18px;
  padding-right: 60px;
}
.Text_section-2__Info1_2{
    color: #ED80FD;
    font-family: "Jost";
    font-size: 47px;
    margin-top: 2px;

}
.section-2__Info1_Button{
    width: 100px;
    height: 40px;
    background-color:#FD909E ;
    border-radius: 8px;
    border-color:rgba(0, 0, 0, 0);
    margin-top:17px;
}
.section-2__Info2{
  display: flex;
  margin-top: 100px;
  padding-left:140px ;
}
p{
  color: #454868;
  font-family: "Jost";
  font-size: 15px;
  line-height: 20px;
  width: 580px;
}
.Text_section-2__Info2_1{
  color: #010851;
  font-family: "Jost";
    font-size: 47px;
}
.Text_section-2__Info2_2{
  color: #ED80FD;
  font-family: "Jost";
    font-size: 47px;
}
.Text_section-2__Info2_3{
    margin-top: 80px;
    font-size: 15px;
}
.section-2__Info2_Button{
  width: 100px;
    height: 40px;
    background-color:#FD909E ;
    border-radius: 8px;
    border-color:rgba(0, 0, 0, 0);
    margin-top:17px;
}
#Img_Sec2_2{
  margin-left: 80px;
  margin-top: 30px;
}
.Blank_Section{
  margin: 0%;
  margin-top: 120px;
}
footer{
  display: flex;
  background-color: #010851;
  padding:20px 30px ;

  
}
.Footer__Info1{
    width: 375px;
}
.Footer_Text1{
  color: white;
  width: 470px;
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 14px;
}
#User_Email{
  height: 40px;
  width: 290px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  background-color:#fd909e28; 
  margin-left: 0px;
  margin-right: 0px;
  color: white;
  font-family: serif;
  font-size:larger;
}
.Footer__Email_Div{
  width: 480px;
}
.Footer_Button{
    width: 120px;
    height: 43px;
    background-color:#FD909E ;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-color:rgba(0, 0, 0, 0);
    margin-top:17px;
    margin-left: 0px;
    margin-right: 0px;
}
.Footer_Thead{
  font-family: 'Jost';
    font-weight: 0.3px;
    color: whitesmoke;
    justify-content: center;
    font-size: 22px;
    
}
.Footer__Info1{
  padding-bottom: 60px;
}
.Footer__Info2{
    padding-top: 40px;
    margin-left: 180px;
}
table{
   line-height: 45px;
   margin-left: 30px;
}
a{
  padding-left:12px;
  color: whitesmoke;
  font-size: 16px;
  text-decoration: none;
}
.td_Sec_1{
  padding-right: 18px;
  margin-right: 1px ;
}
.td_Sec_2{
  padding-left:75px;
  margin-right: 90px ;
}
.td_Sec_3{
  padding-left:105px;
  margin-right: 20px ;
}
.T_Head_sec2{
  margin-right: 10px ;
}
thead{
  line-height: 40px;
}
.T_Head_sec2_Contact{

}
a{
  font-family: 'Jost';
}
p{
}

h2{
  font-family: 'Jost';
}
h3{
  font-family: 'Jost';
}